<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Inter:wght@300;600&display=swap"
        rel="stylesheet">
    <title>About</title>
</head>

<body>
    <audio autoplay loop controls>
        <source src="/Anthem.mp3" type="audio/mpeg">
    </audio>
    <nav class="navBar">
        <a href="/views/home-page.html" class="navLinks">HOME</a>
        <a href="/views/works-page.html" class="navLinks">MY WORK</a>
        <a href="/views/photo-gallery-page.html" class="navLinks">GALLERY</a>
    </nav>
    
    <h1>Let's talk about my favourite subject... me</h1>

    <div id="camerasAbout" class="aboutContainer">
        <div><img src="/images/cameras.jpg" alt="Sexy me." class="aboutImages"></div>
        <p class="textAbout">Hello you, wanting to know more about your favourite patriot? Well, I am here for you.
        Nowadays, these so-called "heroes" come and go like flies on a piece of <s>shit</s> cake. But not me.<br>
        I am the pride of America. Literally everything I do is perfect, elegant, and definitely not psycho. You can always find me smiling for the cameras and giving interviews to show you all how amazingly amazing I am. At the end of the day... I am Homelander. I can do whatever I want. 
        </p>
    </div>

    <div id="photoshootAbout" class="aboutContainer">
        <div><img src="/images/photoshoot.jpg" alt="Smiley me." class="aboutImages"></div>
        <p class="textAbout">I mean, look at this face - who wouldn't want to <s>fuck</s> be my fan? There is so many amazing things about me, one of them being my great ability to control myself when something annoying happens. Anger issues? They are for the weak. 
        </p>
    </div>

    <div id="posingAbout" class="aboutContainer">
        <div><img src="/images/posing.jpg" alt="Sexy serious me." class="aboutImages"></div>
        <p class="textAbout">Argh, I could literally look at myself all day - how can someone be so darn perfect? Some very, very disturbed people have maybe said that I am a <em>bad</em> person. but hey, you're dispensable, which means you answer to me. 
            <br><br>
            <em>O say can you see by the dawn's early light. <br>
                What so proudly we hailed at the twilight's last gleaming. <br>
                Whose broad stripes and bright stars through the perilous fight. <br>
                O'er the ramparts we watched, were so gallantly streaming? <br></em> <br>   
                Oh, what a tune... 'MURICA!
        </p>
    </div>


    <script src="/app.js"></script>
</body>

</html>