<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap" rel="stylesheet">
    <title>Photo Gallery</title>
</head>

<body>
    <audio autoplay loop controls>
        <source src="/Anthem.mp3" type="audio/mpeg">
    </audio>
    <nav class="navBar">
        <a href="/views/home-page.html" class="navLinks">HOME</a>
        <a href="/views/about-page.html" class="navLinks">ABOUT ME</a>
        <a href="/views/works-page.html" class="navLinks">MY WORK</a>
    </nav>
    
    <h1>How can I be so f**ing perfect?</h1>
    <div id="worksImages" class="worksContainer">
        <p class="textAbout">Look at all the good work I have done and continue to do every damn day for all you f**king c**suckers. You guys are the real heroes, we are just glad we can help. <br>
        Enjoy a display of how incredibly handsome, ridiculously generous and unbelievably perfect I am.</p>
        <div><img src="/images/family-man.png" alt="With a random kid." class="aboutImages">
            <figcaption class="captionText">Holding a random kid.</figcaption></div>
        <div><img src="/images/fans.jpg" alt="With poor people." class="aboutImages">
            <figcaption class="captionText">Picture time with my fans.</figcaption></div>
        <div><img src="/images/milk.jpg" alt="Drinking calcium." class="aboutImages">
            <figcaption class="captionText">Milk is my favourite drink in the world.</figcaption></div>
        <div><img src="/images/teaching.jpg" alt="Teaching the kids." class="aboutImages">
            <figcaption class="captionText">Teaching a random kid.</figcaption></div>
        <div><img src="/images/tomatina.jpg" alt="Covered in sexyness me." class="aboutImages">
            <figcaption class="captionText">Went to erm... a festival in Spain.</figcaption></div>
    </div>




    <script src="/app.js"></script>
</body>

</html>