<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Inter:wght@300;600&display=swap" rel="stylesheet">
    <title>Works</title>
</head>

<body>
    <nav class="navBar">
        <a href="/views/home-page.html" class="navLinks">HOME</a>
        <a href="/views/about-page.html" class="navLinks">ABOUT ME</a>
        <a href="/views/photo-gallery-page.html" class="navLinks">GALLERY</a>
    </nav>

    <div id="worksPage">
        <p class="textAbout"><em>With the face of a movie star and the power of a god, Homelander is the greatest superhero alive and the leader of The Seven. Not only can he fly, but he also has super strength and super hearing, and he can see through almost anything with his x-ray vision and then destroy it with his laser eyes.
<br>
        On the surface, he's affable, modest, and sincere; the ultimate Boy Scout, an American treasure, a God-fearing patriot.</em> <br>
        Okay that's pretty much it. I took some random fan's words from this <a id="link" href="https://the-boys.fandom.com/wiki/Homelander/Comics#:~:text=With%20the%20face%20of%20a,it%20with%20his%20laser%20eyes.">website </a>as I could not have described myself better (well, we all know I could, I just couldn't be bothered).
    </p>
    </div>


    <script src="/app.js"></script>
</body>

</html>